@font-face {
  font-family: "phosphate";
  src: url(../dancehall-paradise-fonts/Phosphate-Solid-Regular.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "phosphate";
  src: url(../dancehall-paradise-fonts/Phosphate-Solid-bold.otf) format("opentype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "phosphate_inline";
  src: url(../dancehall-paradise-fonts/Phosphate-Inline-Regular.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "phosphate_inline";
  src: url(../dancehall-paradise-fonts/Phosphate-Inline-Bold.otf) format("opentype");
  font-style: bold;
  font-weight: 700;
}