$white: whitesmoke;
$black: #101010;
$light-color: #e5e5e5;
$red: #fe0b03;
$soft-red: rgba(179, 25, 19, 0.9);

$max-width: 1080px;
$min-width: 320px;

$font-stack: "phosphate", sans-serif;
$font-alternative: "phosphate_inline", sans-serif;